@import "./Variables/Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
  font-family:'Ubuntu', sans-serif;;
}

.app {
  height: 100vh;
  background-color: $prmColour;

  .sections {
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: $prmColour;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }

    >* {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}